#root {
  margin: 0 auto;
  text-align: center;
}
.container {
  position: relative;
  min-height: 90vh;
 
}
.h1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  /* Add additional styles for the footer section */
}
.under_construction{
  width: 500px;
  height: auto;
}

.music {
  position: fixed;
  top: 10;
  left: 80%;
  width: 20%;
  font-size: 250%;
  animation: beat 1s infinite;

}
#checkBox{
  display: none;
}

#checkBox:checked + label > .music {
  color: #673ab7
  ;
  animation: none;
}

@keyframes beat {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}